## Visual Studio / .NET Core
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
.vs/
.idea/
.vscode/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rms/
[Aa]rm64/
build/
*.nupkg
*.snupkg

## User-specific files
*.rsuser
*.suo
*.userpreferences

## Environment variables
.env
appsettings.Development.json
